/* здесь используйте глобальные переменные */
$font-primary: #444444;
$font-black: #000000;
$font-white: #ffffff;
$basic-green: #68b738;
$icons-grey: #666666;
$button-grey: #f2f2f2;
$menu-border: #e6e6e6;
$background-primary: #f2f2f2;
$background-primary-section: #eaeaea;
$socials-background-color: #f2f2f2;
$index-border-color:#d9d9d9;


$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
