/* здесь используйте глобальные переменные */
$font-primary: #444444;
$font-black: #000000;
$font-white: #ffffff;
$basic-green: #68b738;
$icons-grey: #666666;
$button-grey: #f2f2f2;
$menu-border: #E6E6E6;

$tablet-width: 768px;
$desktop-width: 1440px;
