.address__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $font-black;
  text-transform: uppercase;
}

.address__description {
  margin: 0;
  line-height: 20px;
}

.address__wrapper {
  margin-top: 66px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 26px;
}


@media (min-width: $tablet-width) {
  .address__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
  }

  .address__title {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
  }

  .address__description {
    font-size: 16px;
    width: 157px;
    text-align: right;
  }

  .address__city-wrap {
    display: block;
    padding-top: 16px;
  }

}
