.advantages {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  margin: 0;
  padding-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $font-black;
}

.advantages__description {
  margin: 0;
  padding-left: 80px;
  padding-top: 2px;
  padding-bottom: 4px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.advantages__item {
  position: relative;
  min-height: 60px;
  padding-bottom: 20px;
}

.advantages__item--healthy {

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 17px;
    background-image: url("../../images/icons/stack.svg#leaf-icon");
    background-repeat: no-repeat;
    width: 25px;
    height: 28px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
  }

.advantages__item--powder {
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 17px;
    background-image: url("../../images/icons/stack.svg#powder-icon");
    background-repeat: no-repeat;
    width: 26px;
    height: 28.5px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
}

.advantages__item--nutritious {
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    background-image: url("../../images/icons/stack.svg#eat-icon");
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
}

.advantages__item--weight {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    background-image: url("../../images/icons/stack.svg#weight-icon");
    background-repeat: no-repeat;
    width: 26px;
    height: 31px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-left: 30px;
    padding-right: 30px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 230px 230px;
    gap: 153px;
  }

  .advantages__item--healthy {

    &::after {
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--powder {

    &::after {
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--nutritious {

    &::after {
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--weight {

    &::after {
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }
}
