.advantages {
  padding-left: 20px;
  padding-right: 20px;
}

.advantages__title {
  margin: 0;
  padding-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $font-black;
}

.advantages__description {
  margin: 0;
  padding-left: 80px;
  padding-top: 2px;
  padding-bottom: 4px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.advantages__item {
  position: relative;
  min-height: 60px;
  padding-bottom: 20px;
}

.advantages__item--healthy {

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 17px;
    background-image: url("../../images/icons/stack.svg#leaf-icon");
    background-repeat: no-repeat;
    width: 25px;
    height: 28px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
  }

.advantages__item--powder {
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 17px;
    background-image: url("../../images/icons/stack.svg#powder-icon");
    background-repeat: no-repeat;
    width: 26px;
    height: 28.5px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
}

.advantages__item--nutritious {
  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 18px;
    background-image: url("../../images/icons/stack.svg#eat-icon");
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
}

.advantages__item--weight {
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    background-image: url("../../images/icons/stack.svg#weight-icon");
    background-repeat: no-repeat;
    width: 26px;
    height: 31px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-left: 30px;
    padding-right: 30px;
  }

  .advantages__title {
    padding-bottom: 32px;
    margin-top: 47px;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__description {
    padding: 0;
    margin: 0;
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 151px;
    padding-bottom: 57px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px;
    gap: 37px;
    column-gap: 60px;
  }

  .advantages__item {
    background-repeat: no-repeat;
  }

  .advantages__item--healthy {
    background-image: url(../../images/1-icon@2x.png);
    background-position: 50% 75%;

    &::before {
      top: 66px;
      left: 28px;
    }

    &::after {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--powder {

    background-image: url(../../images/2-icon@2x.png);
    background-position: 58% 75%;

    &::before {
      top: 66px;
      left: 28px;
    }

    &::after {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--nutritious {

    background-image: url(../../images/3-icon@2x.png);
    background-position: 58% 58%;

    &::before {
      top: 65px;
      left: 28px;
    }

    &::after {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  .advantages__item--weight {

    background-image: url(../../images/4-icon@2x.png);
    background-position: 60% 56%;

    &::before {
      top: 65px;
      left: 28px;
    }

    &::after {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }
}
