.button {
  display: block;
  font-family: "Oswald", sans-serif;
  background-color: $basic-green;
  color: $font-white;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.button--secondary {
  margin: 0 auto;
}
