.catalog__header {
  font-family: "Oswald", sans-serif;
  color: $title-font-color;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__product-cards-link {
  color: $title-font-color;
  text-decoration: none;
}

.catalog__product-cards-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__product-cards-description-item {
  font-size: 12px;
  line-height: 16px;
}

.catalog__product-cards-clarification {
  font-size: 12px;
  line-height: 16px;
}
