.example__image {
  max-width: 100%;
  height: auto;
}

.demo {
  width: 280px;
  height: 256px;
  display: flex;
  position: relative;
}

.demo__image {
  max-width: 100%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .example__image {
    display: block;
    width: 280px;
    height: 256px;
    max-width: initial;

    user-select: none;
    pointer-events: none;
  }

  &--after {
    .example__image {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.demo__slider {
  width: 4px;
  height: 100%;
  background-color: #666666;
  border-radius: 2px;

  position: absolute;
  top: 0;
  left: 50%;
}

.demo__button {
  display: block;
  padding: 0;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #ffffff;
  border: 2px solid #666666;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (hover: hover) {
    cursor: pointer;
  }
}
