.logo__text-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 23px;
  padding-bottom: 15px;
}

.logo__image {
  position:absolute;
  top: 13px;
  left: 20px;
}

.logo__footer {
  display: flex;
  justify-content: space-around;
}


@media (min-width: $tablet-width) {
  .logo__text-wrapper {
    display: block;
    padding: 0;
  }

  .logo__image {
    top: 25px;
    left: 30px;
  }

  .logo__text {
    position: absolute;
    top: 41px;
    left: 103px;
  }

  .logo__footer {
    position: absolute;
    bottom: 61.5px;
    left: 30px;
    display: block;
  }

}
