
@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 34px 61px 30px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    padding: 55px 110px 0 110px;
  }
}
