.main-form__wrapper {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.main-form__header {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.main-form__description {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.main-form__input {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-form__input--email-icon {
  background-image: url("../../images/icons/stack.svg#email-icon");
}

.main-form__input--tel-icon {
  background-image: url("../../images/icons/stack.svg#telephone-icon");
}

.main-form__title {
  text-transform: none;
  color: $title-font-color;
  font-size: 24px;
  line-height: 26px;
}

.main-form__textarea {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $primary-font-color;
}

.main-form__required-clarification {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $title-font-color;
  text-transform: none;
}
