.programs__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $title-font-color;
  text-transform: uppercase;
}

.programs__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $title-font-color;
  text-transform: uppercase;
  text-decoration: none;
}

.programs__list {
  list-style-type: none;
}

.programs__item--slim-cat {
  background-image: url("../../images/icons/stack.svg#slim-cat");
  width: 200px;
  height: 211px;
}

.programs__item--fat-cat {
  background-image: url("../../images/icons/stack.svg#muscle-cat");
  width: 268px;
  height: 200px;
}
