.socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $socials-background-color;
}

.socials__list {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 132px;
}

.socials__wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.socials__logo-footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

.socials__link {
  display: block;
  width: 28px;
  height: 28px;
  background-color: $icons-grey;

  &--vk {
    mask-image: url("../../images/vk-icon.svg");
    mask-repeat: no-repeat;
  }

  &--yt {
    mask-image: url("../../images/yt-icon.svg");
    mask-repeat: no-repeat;
  }

  &--tg {
    mask-image: url("../../images/tg-icon.svg");
    mask-repeat: no-repeat;
}
}

.socials__author-logo {
  padding-top: 15px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__author-logo-text {
  font-size: 16px;
  line-height: 20px;
  display: block;
  padding-left: 20px;
  box-sizing:unset;
}

.socials__author-logo-icon {
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 66px 110px;
  }

  .socials__list {
    padding: 0;
  }

  .socials__logo-footer {
    padding: 0;
  }

  .socials__author-logo {
    padding: 0;
    width: auto;
    justify-content: start;
    gap: 23px;
  }
}
