.socials {
  position: relative;
  height: 147px;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 132px;
}

.socials__wrapper {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.socials__link {
  display: block;
  width: 28px;
  height: 28px;
  background-color: $icons-grey;

  &--vk {
    mask-image: url("../../images/vk-icon.svg");
    mask-repeat: no-repeat;
  }

  &--yt {
    mask-image: url("../../images/yt-icon.svg");
    mask-repeat: no-repeat;
  }

  &--tg {
    mask-image: url("../../images/tg-icon.svg");
    mask-repeat: no-repeat;
}
}


.socials__author-logo {
  color: $icons-grey;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .socials__list {
    padding-top: 63px;
  }
}

